<ion-header>
  <ion-toolbar color="success">
    <ion-button slot="start" fill="clear">
      <ion-menu-button color="light" ></ion-menu-button>
    </ion-button>
    <ion-title>Reciclica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item color="success">
     <ion-avatar color="success">
       <img src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png"/>
      </ion-avatar>
      <ion-label>
        <h1 style="margin-left: .6em;">  Dubem</h1>
        <p style="margin-left: .8em;">  Gathered: <span class="money">$100000</span></p>
      </ion-label>
    </ion-item>

    <!-- <ion-item>
      <ion-label>Super Mario World</ion-label>
    </ion-item> -->
  </ion-list>
  <app-pickup-call-card status='onHold' createdAt="20/05/2022" notes="We have two bags that are full, one with plastic and the other with glass">
    <ion-card-header header>
      <ion-card-subtitle>Last Pickup Call</ion-card-subtitle>
    </ion-card-header>
    <ion-button (click)="pickupcalls()" footer color="success" fill="clear" size="full">see all.....</ion-button>
  </app-pickup-call-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button (click)="add()" color="success">
      <ion-icon name="add"></ion-icon>
    </ion-button>
  </ion-fab>

</ion-content>
